/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM PROPERTIES */
:root {
    --main-color: #ff6900;
    --dark-grey: #1a1a1a;
    --sustainability-color: #008000;
    --discount-color: #ff0000;
    --flex-basis-xs: 20%;
    --flex-basis-sm: 40%;
    --flex-basis-md: 50%;
    --flex-basis-lg: 60%;
    --flex-basis-xl: 80%;
}

/* ! DEBUG DA RIMUOVERE */
.border {
    border: 2px solid black;
}

/* UTILITY */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.al-center {
    align-items: center;
}

.d-flex {
    display: flex;
}

.f-basis-sm {
    flex-basis: var(--flex-basis-sm);
}

.f-basis-lg {
    flex-basis: var(--flex-basis-lg);
}

.f-basis-md {
    flex-basis: var(--flex-basis-md);
}

/* BODY */
body {
    font-family: sans-serif;
}

/* HEADER */
header {
    background-color: var(--main-color);
    height: 80px;
    color: white;
}

.head-box {
    padding: 15px 0px;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    font-weight: 600;
}

ul li {
    text-align: left;
    padding-right:10px;
    list-style-type: none;
    display: inline;
}

.logo {
    height: 50px;
}

.logo-box {
    text-align: center;
}

div.login a {
    padding: 0px 3px;
}

.login {
    text-align: right;
}
/* SECTION */
section {
    padding: 50px 0px;
    gap: 50px 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* CARD */
.card {
    position: relative;
    flex-basis: calc((100% / 3) - 10px);
}

/* IMG HOVER */
.b-img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

figure img {
    width: 100%;
}

figure:hover .b-img {
    display: inline;
}

/* STICKER */
.prezzo {
    color: var(--discount-color);
    font-weight: bold;
    display: inline;
}

.prezzo+span {
    text-decoration: line-through;
}

.sticker {
    display: inline;
    position: relative;
    font-weight: 600;
    color: #fff;
    padding: 5px;
    bottom: 130px;
    left: 0px;
}

.discount {
    background-color: var(--discount-color);
}

.sustainability {
    background-color: var(--sustainability-color);
}

.wishlist {
    text-align: center;
    font-size: 30px;
    background-color: #fff;
    padding: 10px 0px;
    position: absolute;
    top: 10px;
    right: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.wishlist:hover {
    color: var(--discount-color);
}

/* FOOTER */
footer {
    color: #fff;
    background-color: var(--dark-grey);
    height: 100px;
}

.foot-box {
    height: 100%;
}

.info {
    width: 100%;
}

div.info h4 {
    font-size: 25px;
    padding: 10px 0px;
}

.social {
    text-align: right;
    width: 100%;
    font-size: 20px;
}